@model IEnumerable<FinalProject.Models.Restock>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Product</th>
            <th>Restock Date</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Product.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.RestockDate)</td>
                <td>@Html.DisplayFor(modelItem => item.QuantityAdded)</td>
                <td>@Html.DisplayFor(modelItem => item.Summary)</td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.RestockID }, new { @class = "btn btn-warning btn-sm" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.RestockID }, new { @class = "btn btn-info btn-sm" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.RestockID }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>

